.wrapper {
  max-width: 46rem;
  margin: 0 auto;
}

.form {
 margin-top: -1.41rem;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
}

.form > input {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #0d0d0d;  
  background: #262626;
  color: #F2F2F2;
}

.form > input:valid, .form > input:focus {
  border-color: #5e60ce;
}

.form > button {
  padding: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
  color: #f2f2f2;
  display: flex;
  background: #1E6F9F;
  border-radius: 8px;
  gap: 0.5rem;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form > button:disabled {
  background-color: #2e5f7b;
  color:#adadad;
  cursor:not-allowed;
}
